.container {
  .txt-title {
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 3.5vh;
  }
  position: relative;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 10px;
}
