@font-face {
    font-family: 'GangwonEduAll';
    font-weight: 400;
    font-style: normal;
    src:
        url("../assets/fonts/GangwonEduAll.woff2") format("woff2"),
        url("../assets/fonts/GangwonEduAll.woff") format("woff"),
        url("../assets/fonts/GangwonEduAll.ttf") format("truetype");
    font-display: fallback;
}

@font-face {
    font-family: 'GreatVibes-Regular';
    font-weight: 400;
    font-style: normal;
    src:
        url("../assets/fonts/GreatVibes-Regular.woff2") format("woff2"),
        url("../assets/fonts/GreatVibes-Regular.woff") format("woff"),
        url("../assets/fonts/GreatVibes-Regular.ttf") format("truetype");
    font-display: fallback;
}
