@charset "utf-8";

@import url("./reset.scss");
@import url("./font.scss");

:root {
    --red: #ea7664;
    --black: #49544f;
    --purple: #f0e8ef;
    --point_purple: #835ea8;
    --beige: #f5f6eb;
    --white: #fff;
}

body {
    font-family: GangwonEduAll, sans-serif;
    background-color: var(--purple);
}

video {
    clip-path: inset(1px 1px)
}
